# **A Quick Pandas Tutorial**
> ## *Author* : [Rathachai CHAWUTHAI](https://rathachai.creatier.pro/) , Ph.D
> ### *Affiliation* : Computer Engineering, King Mongkut's Institute of Technology Ladkrabang (KMITL)
> #### *Updated Date* : 2020-08-18
---

> <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.



---

## Prerequisite Knowledge
> Python, List, Dictionary, Tuple, Function, Lambda, Numpy, and CSV

## About a Dataset

Click [https://docs.google.com/spreadsheets/d/e/2PACX-1vRIFbIywXecgxN5c1sMn_KYWsARoXgp4paFxu4qndPaX_47vRaOdrqmiHjtNZ9ZYQcv3ubMSv8DA9ta/pub?gid=1546938151&single=true](https://docs.google.com/spreadsheets/d/e/2PACX-1vRIFbIywXecgxN5c1sMn_KYWsARoXgp4paFxu4qndPaX_47vRaOdrqmiHjtNZ9ZYQcv3ubMSv8DA9ta/pub?gid=1546938151&single=true)

## Import Libraries

In [ ]:
import numpy as np
import pandas as pd

## Read CSV into a Dataframe

In [ ]:
CSV_PATH = "https://docs.google.com/spreadsheets/d/e/2PACX-1vRIFbIywXecgxN5c1sMn_KYWsARoXgp4paFxu4qndPaX_47vRaOdrqmiHjtNZ9ZYQcv3ubMSv8DA9ta/pub?gid=1546938151&single=true&output=csv"

In [ ]:
df = pd.read_csv(CSV_PATH)

In [ ]:
df

In [ ]:
df.head()

In [ ]:
df.tail()

## Column Selection

In [ ]:
df["name"]

In [ ]:
df[["name", "gender", "age"]]

## Row Selection

In [ ]:
df.loc[1]

In [ ]:
df.loc[[1,2,3]]

## Row and Column Selection (1)

In [ ]:
df.loc[1,["name","age"]]

In [ ]:
df.loc[[1,2,3], ["name","age"]]

## Value Modification

In [ ]:
df[["name","working_years"]]

In [ ]:
df.loc[0,"working_years"] = 77

In [ ]:
df[["name","working_years"]]

In [ ]:
df.loc[[1,2],"working_years"] = 9999

In [ ]:
df[["name","working_years"]]

In [ ]:
df.loc[[1,2],["name","working_years"]] = "MODIFIED"

In [ ]:
df[["name","working_years"]]

## Reload the Dataframe

In [ ]:
df = pd.read_csv(CSV_PATH)

In [ ]:
df

## Set Index

In [ ]:
df.set_index("eid")

In [ ]:
df

In [ ]:
df.set_index("eid", inplace=True)

In [ ]:
df

## Row and Column Selection (2)

In [ ]:
df.loc[["E011","E012"], ["name", "salary"]]

In [ ]:
df.iloc[0]

In [ ]:
df.iloc[[0,1]]

In [ ]:
df.iloc[[0,1]][["name","gender"]]

## Reset Index

In [ ]:
df.reset_index(inplace=True)

In [ ]:
df

## Reload the Dataframe

In [ ]:
df = pd.read_csv(CSV_PATH)

In [ ]:
df

## Range Selection

In [ ]:
df.loc[1:4]

In [ ]:
df.loc[:4]

In [ ]:
df.loc[4:]

In [ ]:
df.loc[1:3,["name","age"]]

In [ ]:
df.iloc[1:3]

## Conditional Selection

In [ ]:
df

In [ ]:
df["working_years"]

In [ ]:
df["working_years"]>3

In [ ]:
df[df["working_years"]>3]

In [ ]:
df[df["working_years"]>3][["name","working_years", "salary"]]

In [ ]:
df[ (df["working_years"]>3) & (df["salary"]>70000) ]

In [ ]:
df[ (df["working_years"]>3) | (df["salary"]>70000) ]

## Column Operation

In [ ]:
df["salary"]

In [ ]:
df["salary"]*12

In [ ]:
df["salary"]*df["working_years"]

## New Column

In [ ]:
df["country"] = "Thailand"

In [ ]:
df

In [ ]:
df["bonus"]=df["salary"]*df["working_years"]

In [ ]:
df

## Drop Row

In [ ]:
df.drop(7)

In [ ]:
df

In [ ]:
df.drop(7, inplace=True)

In [ ]:
df

## Drop Column

In [ ]:
df.drop("country", axis=1)

In [ ]:
df.drop(["country","bonus"], axis=1)

In [ ]:
df

In [ ]:
df.drop(["country","bonus"], axis=1, inplace=True)

In [ ]:
df

## Reload the Dataframe

In [ ]:
df = pd.read_csv(CSV_PATH)

## Sorting

In [ ]:
df.sort_values("salary")

In [ ]:
df.sort_values(["department","salary"])

In [ ]:
df.sort_values("salary", ascending=False)

In [ ]:
df.sort_values("salary", ascending=False, inplace=True)

In [ ]:
df

In [ ]:
df.loc[0:2]

In [ ]:
df.iloc[0:2]

## Grouping

In [ ]:
df.groupby("department").mean()

In [ ]:
df.groupby("department").max()

In [ ]:
df.groupby(["department","gender"]).mean()

In [ ]:
df_group_obj = df.groupby("department")

In [ ]:
df_group_obj

In [ ]:
df_group_obj.mean()

In [ ]:
df_group_obj.max()

In [ ]:
df.groupby("department").min()

In [ ]:
df.groupby("department").count()

In [ ]:
df.groupby("department").agg({"mean", "count"})

In [ ]:
df.groupby("department")["age"].agg({"mean", "count"})

In [ ]:
df.groupby("department").agg({"age":"min", "salary":"mean"})

In [ ]:
df.groupby("department").agg({"age":["min","max"], "salary":"mean"})

In [ ]:
dfg = df.groupby("department").agg({"age":["min","max"], "salary":"mean"})

In [ ]:
dfg

In [ ]:
dfg.columns

In [ ]:
dfg.columns.ravel()

In [ ]:
["_".join(x) for x in dfg.columns.ravel()]

In [ ]:
dfg.columns = ["_".join(x) for x in dfg.columns.ravel()]

In [ ]:
dfg

In [ ]:
dfg["age_min"]

In [ ]:
dfg.reset_index()

In [ ]:
dfg.reset_index(inplace=True)

In [ ]:
dfg

## Reload the Dataset

In [ ]:
df = pd.read_csv(CSV_PATH)

## Iteration

In [ ]:
for index, row in df.iterrows():
  print(index)

In [ ]:
for index, row in df.iterrows():
  print(row["eid"], row["name"], row["salary"])

In [ ]:
for index, row in df.iterrows():
  if row["salary"]>70000:
    df.loc[index,"should_pay_ot"] = "NO"
  elif row["salary"]>50000:
    df.loc[index,"should_pay_ot"] = "MAY BE"
  else:
    df.loc[index,"should_pay_ot"] = "YES"

In [ ]:
df

## Reload the Dataset

In [ ]:
df = pd.read_csv(CSV_PATH)

## Apply Function

In [ ]:
np.log(1000)

In [ ]:
df["salary"]

In [ ]:
df["salary"].apply(np.log)

In [ ]:
df["salary"].apply(np.sqrt)

In [ ]:
def times10(num):
  return num*10

In [ ]:
times10(5)

In [ ]:
df["age"]

In [ ]:
df["age"].apply(times10)

In [ ]:
df["age"].apply(lambda x: x*10)

In [ ]:
def consider_ot_payment(salary):
  result = ""
  if salary>70000:
    result = "NO"
  elif salary>50000:
    result = "MAY BE"
  else:
    result = "YES"
    
  return result

In [ ]:
df["salary"].apply(consider_ot_payment)

In [ ]:
df["should_pay_ot"] = df["salary"].apply(consider_ot_payment)

In [ ]:
df

## Save into a CSV file

In [ ]:
df.to_csv("employee.csv")

In [ ]:
pd.read_csv("employee.csv")

In [ ]:
df.to_csv("employee.csv", index=False)

In [ ]:
pd.read_csv("employee.csv")



---
https://rathachai.creatier.pro/

## つづく